@import "code/functions/_retina-sprites.scss";

$breakpoint:	small;
$version: 		0;
$vendor :       moz;
$retina:        true;


@media only screen and (min--moz-device-pixel-ratio: 1.5){
	@import "code/_sprites"; 
}