$tabHover: #647866;

// TAB NAVIGATION =============================

.table-layout {
  display: table;
  &.full {
    width: 100%;
    height: 100%;
    }
  }
.table-row {
  display: table-row;
  }
.table-cell {
  display: table-cell;
  &.middle {
    vertical-align: middle;
    }
  }

.price-display.table-layout {
  &.full {
    //height: 50px;
    margin-bottom: 10px;
    //margin-left: -15px; // the Infinity design has heaps of negative offsets and such like
    width: 315px
    }
  .table-row.odd {
    background-color: #dddddd;
    }
  //  &.partial {
  //    width: auto;
  //    height: 50px;
  //    float: left; // when shrinking narrower
  //    margin-top:20px;
  //    margin-bottom: 10px;
  //    margin-right:25px
  //    }

  .table-cell {
    color: #333;
    background-color: #ffffff;
    font-family: arial, helvetica, sans-serif;
    font-weight: normal;
    padding: 4px 3px 4px 3px;
    font-size: 12px;
    text-align: center;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #f0f0f0;
    a.btn {
      color: #fff;
      }
    &.green {
      background-color: #3eae29;
      @include multi-border-radius(12px, 12px, 0px, 0px);
      color: #ffffff;
      white-space: nowrap;
      width: 50px; //nominal amount as it will swell to fit text.
      height: 30px;
      font-weight: bold;
      border-left: 1px solid #48d22e;
      border-right: 1px solid #3b9929;
      }

    }

  }

.icp-display.table-layout {
  &.full {
    height: 50px;
    margin-bottom: 10px;
    }
  &.partial {
    width: auto;
    height: 50px;
    float: left; // when shrinking narrower
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 25px
    }

  .table-cell {
    color: #333;
    background-color: #ffffff;
    font-family: arial, helvetica, sans-serif;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    a { color: #333; }
    }
  .green {
    background-color: #3eae29;
    @include multi-border-radius(15px, 0, 0px, 15px);
    color: #ffffff;
    white-space: nowrap;
    width: 50px; //nominal amount as it will swell to fit text.
    }

  }

.welcome.table-layout {
  &.full {
    height: 200px;
    margin-bottom: 10px;
    }
  &.partial {
    width: auto;
    height: 50px;
    float: left; // when shrinking narrower
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 25px
    }

  .table-cell {
    &.top {
      vertical-align: top;
      }
    &.middle {
      vertical-align: middle;
      }
    color: #fff;
    //background-color: #ffffff;
    font-family: arial, helvetica, sans-serif;
    font-weight: bold;
    padding-left: 30px;
    padding-right: 10px;
    padding-top: 20px;
    font-size: 12px;
    a { color: #ffff; }
    .ffpad {
      position: relative;
      }
    }

  }

.cta3 .table-layout {
  &.full {
    height: 50px;
    margin-bottom: 10px;
    }
  &.partial {
    width: auto;
    height: 50px;
    }

  .table-cell {
    color: #333;
    background-color: transparent;
    font-family: arial, helvetica, sans-serif;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    }
  .green {
    background-color: #3eae29;
    //@include multi-border-radius(15px, 0, 0px, 15px);
    color: #ffffff;
    white-space: normal;
    width: 100%; //nominal amount as it will swell to fit text.
    @include border-radius(8px);
    }

  }

@if $breakpoint == small{

  @include media(3, max) {

    .icp-display.table-layout {
      &.full {
        height: 50px;
        margin-bottom: 10px;
        }
      &.partial {
        width: 95%;
        height: 50px;
        float: left; // when shrinking narrower
        margin-top: 15px;
        margin-bottom: 10px;
        margin-right: 5px
        }

      .table-cell {
        color: #333;
        background-color: #ffffff;
        font-family: arial, helvetica, sans-serif;
        font-weight: bold;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 14px;
        a { color: #333; }
        }
      .green {
        background-color: #3eae29;
        @include multi-border-radius(15px, 0, 0px, 15px);
        color: #ffffff;
        white-space: normal;
        width: 100px; //nominal amount as it will swell to fit text.
        }
      }
    .price-display.table-layout {
      &.full {
        //height: 50px;
        margin-left: 0px; // get the pricing left margin right on mobiles
        width:100%;
        }
      }
    }
  }

@if $breakpoint == large {
  }